<div class="row mt-5">
  <div class="col">
    <button type="button" class="btn btn-primary float-right mb-3"
     data-toggle="modal" data-target="#modalProduto" 
     (click)="resetForm()">Novo Produto</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descrição</th>
          <th scope="col">Preço</th>
          <th scope="col">Embalagem</th>
          <th scope="col">Durabilidade</th>
          <th scope="col">peso</th>
          <th scope="col">cor</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos | paginate: {itemsPerPage: 7, currentPage: pageActual}; index as i">

          <th scope="row"> {{i+1}}</th>
          <td>{{produto.descricao}}</td>
          <td>R$ {{produto.preco}}</td>
          <td>{{produto.ebalagem}}</td>
          <td>{{produto.durabilidade}}</td>
          <td>{{produto.peso}}</td>
          <td>{{produto.cor.nome}}</td>
          
        
          <td>
            <button class="btn btn-primary" (click)="onPreUpdateProduto(produto)"
             data-toggle="modal" data-target="#modalProduto">Atualizar</button>
          </td>
          <td>
            <a href="/produto/lista-produtos" class="btn btn-danger"
             (click)="onDeleteProduto(produto.id)">Apagar</a>
          </td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>
<app-modal></app-modal>